body {
  color: $gray-dk;
}

.page-title {
  font-family: $serif, serif;

  .subheading + & {
    margin-top: 0;
  }
}

.label-alt {
  color: $gray-dk;
  font-size: 1rem;
}

.aka {
  color: $gray;
}

.has-large-font-size {
  color: $blue-dk;
  font-family: $serif;
  line-height: 1.2em;
}

textarea {
  font-family: $serif;
}

// Cards
.card {
  margin-bottom: $padding;

  a, h3, p {
    transition: all 0.25s;
  }

  a {
    border: 1px solid transparent;
    display: block;

    @include breakpoint(medium) {

      padding: 0.5rem;

      &:hover,
      &:focus {
        border-color: $gray;
        h3,
        p {
          color: $black;
        }
      }

    }

  } // .card a

  h3, p {
    color: $gray-dk;
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: 0;
  }

} // .card

// Google Map
.map {
  width: 100%;
  &:empty {
    height: 0;
  }
}

// remove margin around map ui buttons
body.single article .map img {
  margin: 0; // override
}

// infoWindow
.gm-style-iw {
  h4 {
    font-size: 1.25rem;
    line-height: 1.125em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
  }
  p {
    color: $black;
    line-height: 1.25;
    margin-bottom: 0.5em;
  }
  .aka {
    font-size: 1rem;
  }
  .address {
    font-size: 0.85rem;
  }
  &-d {
      overflow: visible !important;
  }
  &-c {
    padding: $padding / 2 !important;
  }
}

// Social Share buttons
.addthis_inline_share_toolbox {
  align-items: center;
  justify-content: flex-end;
  margin-top: $padding*3;
  padding-right: 0;
  text-align: right;

  .label-alt {
    margin-right: $padding;
  }
}

// Comments

.comment-reply-title {
  margin: 0;
}

.comment-form {

  label {
    color: $blue-dk;
    font-weight: 400;
    margin-top: 0.5em;
    text-transform: none;
  }

  &-field {
    background: $white;
  }

  @include breakpoint(medium) {

    label {
      text-align: right;
      width: 30%;
    }

    &-comment,
    &-author,
    &-email {
      display: flex;
    }

    &-field {
      flex: 1;
      margin-left: $padding * 2;
    }

    .form-submit {
      margin-bottom: 0;
      margin-left: calc(30% + ($padding * 2));
    }
  }
}

.comment-awaiting-moderation {
  margin-left: $padding;
}

.comment-notes {
  display: none;
}

article ul.comment-list {
  list-style: none;
  margin: ($padding * 2) 0 0;
  padding: 0;
  text-indent: 0;
}

.single .comment-list .comment {
  padding-bottom: 1rem;

  &-author,
  &-meta {
    display: inline;
  }

  &-author .says {
    display: none;
  }

  p {
    font-family: $serif;
    margin-top: $padding;

    @include breakpoint(medium) {
      margin-left: $padding * 7;
    }
  }

  .comment-author cite.fn { // high specificity needed
    color: $bronze;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;

    a.url {
      color: $bronze;
    }
  }

  .comment-meta {
    color: $bronze;
    font-size: 1.25rem;
    margin-top: 0.25rem;

    a {
      color: $bronze !important;
      text-decoration: none;
    }

    &::before {
      content: ' on ';
    }

    &::after {
      content: ':';
    }
  }
} // .comment

.bypostauthor {
  display: block;
}