// Homepage main area
body.home {
  main {
    @include grid-row;
    padding: $padding;
  }
  .featured-tour, .the-content, .cta {
    margin-top: $padding;
  }
}

// Archive Pages
nav.pagination,
body.archive .taxonomies-browse {
  @include grid-column(12);
}

@include breakpoint(medium down) {
  // AddThis Social Share
  .addthis_inline_share_toolbox {
    display: none;
  }
}

@include breakpoint(medium) {

  // Homepage properties cards area
  body.home .cards {
    @include grid-layout(2, '.card', $padding);
  }

  // Tour "Related Properties section"
  .related-properties {
    @include grid-layout(2, '.card', $padding);
  }

  // Archive grid layout
  body.archive div.main .cards {
    @include grid-layout(2, '.card', $padding);
  }

}

@include breakpoint(large) {

  // Override default layouts
  body.single-property,
  body.single-tour {
		main > article, section.meta,
    main > aside > div {
			@include grid-column(12);
		}
  }
  body.archive div.main {
    @include grid-column(12);
  }

  // Archive pages
  body.archive div.main .cards {
    @include grid-layout(3, '.card', $padding);
    float: none;
    width: 100%;
  }
  body.archive .no-results {
    @include grid-column(12);
  }

  // Page headers
  .page-header,
  body.single-property .page-header, // heightened specificity for override
  body.single-tour .page-header {
    @include grid-column(8);
  }

  // AddThis Social Share
  .addthis_inline_share_toolbox {
    @include grid-column(4);
    clear: none !important; // override embed
    display: flex;
  }
  
  // Homepage main area
  body.home {
    .main {
      display: flex;
    }
    .featured-tour {
      flex-basis: 60%;
    }
    .info {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: $padding*1.5;
    }
    .cta {
      flex: 1;
      margin-top: $padding;
    }
  }

  // Homepage properties cards area
  body.home {
    .cards,
    .featured-card {
      @include grid-column(6);
      padding-left: 0 !important;
    }

    .featured-card {
      float: right;
      padding-right: 0;
    }
  }

  .recently-updated header {
    align-items: center;
    display: flex;
    margin-top: $padding * 2;
    justify-content: space-between;
  }

  // Create sidebar layout
  body.single-property {
    div.main {
      @include grid-column(7);
    }
    aside.sidebar {
      @include grid-column(4);
    }
  }

  // Tour "Related Properties section"
  .related-properties {
    @include grid-layout(3, '.card', $padding);
  }

  // Search Results page
  body.search-results div.main {
    @include grid-column(9);
    .card {
      @include clearfix;
      margin-bottom: $padding*2;
    }
    img {
      @include grid-column(4);
      float: right;
    }
  }

} // end breakpoint(large)
