.home {

  .featured-tour {
    background: $mustard-lt;
    border: 1px solid $bronze;
    padding: $padding;

    .text {
      padding: $padding;
    }

    .subtitle {
      font-weight: 900;
      margin-bottom: $padding/4;
    }

    .title {
      color: $bronze;
      font-family: $serif, serif;
      font-weight: 100;
      margin: 0 0 $padding/2;
    }
  }

  // read-more link
  .more {
    border-bottom: 1px solid;
    color: $black;
  }

  .the-content {
    background: $blue-lt;
    padding: $padding;
  }

  .cta {
    background: $mustard;
    padding: $padding;
  }

  @include breakpoint(large) {

    .main {
      display: flex;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: $padding;
    }

    .cta {
      flex: 1;
      margin-top: $padding;
    }

  } // breakpoint(large)
} // .home
